<div class="card">
    <div class="card-body">
    <form>
      <div class="form-group">
        <label for="inputFirstName">Nombre</label>
        <input type="text" class="form-control" id="inputFirstName" placeholder="Ingrese nombre..." #firstName>
      </div>
      <div class="form-group">
        <label for="inputLastName">Apellido</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Ingrese Apellido..." #lastName>
      </div>

      <button type="submit" class="btn btn-primary" (click)="add(firstName.value, lastName.value)">Agregar</button>
    </form>
  </div>
</div>

<hr>

<div>
  <ul class="list-group">
    <app-employee *ngFor="let e of employees" [employee]="e"></app-employee>
  </ul>
</div>